@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1B198F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1B198F;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -4px;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.glass-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 12px 24px;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-family: var(--font-plus-jakarta-sans);
  font-weight: 300;
  white-space: nowrap;
  animation: float-card 6s ease-in-out infinite;
}

@keyframes float-card {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.glass-button {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.glass-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent);
  transition: 0.5s;
  z-index: -1;
}

.glass-button:hover::before {
  left: 100%;
}

.glass-button:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  transform: translateY(-1px);
}